header {
    text-align: center;
}

header button {
    align-content: center;
    background-color:#697A21;
    color: white;
    height: 30%;
    font-size: x-large;
}

header img {
    height: 7%;
    width: 7%;
}

.savings .jumbotron {
    background-color: #ECFBD2;
}

.savings .jumbotron .list-group-item {
    background-color: #F3FDE1;
    border: 2px #697A21; 
    align-content: center;
    text-align: center;
    font-size: x-large;
}

.budget .jumbotron {
    background-color: #DEF9AE;
}

.bank .jumbotron {
    background-color: #CEEC97;
}

.notifications .jumbotron {
    background-color: #BBE174;
}

.pics img {
    width: 48%;
    height: 48%;
}

.budget .jumbotron .list-group-item {
    background-color: #F3FDE1;
    border: 2px #697A21; 
    align-content: center;
    text-align: center;
    font-size: x-large;
}

.bank .jumbotron .list-group-item {
    background-color: #F3FDE1;
    border: 2px #697A21; 
    align-content: center;
    text-align: center;
    font-size: x-large;
    font-weight: 100;
}


.notifications .jumbotron .list-group-item {
    background-color: #F3FDE1;
    border: 2px #697A21; 
    align-content: center;
    text-align: center;
    font-size: x-large;
    
}

.savings .jumbotron.list-group-item img {
    width: 27%;
    height: 27%;
}

.to-top {
    background: #078F7F;
    position: fixed;
    bottom: 16px;
    right:32px;
    width:50px;
    height:50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:32px;
    color:#1f1f1f;
    text-decoration: none;
    opacity:0;
    pointer-events: none;
    transition: all .4s;
  }
.to-top.active {
  bottom:32px;
  pointer-events: auto;
  opacity:3;
}
.to-top i {
    color: #E5E3E3;
}

.picsss img {
    width: 77%;
    height: 77%;
}

.para {
    text-align: center;
    margin-top: 17%;
}

.paraa {
    text-align: center;
    margin-top: 9%;
}

.paraaa {
    text-align: center;
    margin-top: 14%;
}

.paraaaa {
    text-align: center;
    margin-top: 17%;
}

.picss img{
    width:37%;
    height: 37%;
}

.picssss img {
    width:47%;
    height: 47%;
}